<!-- Breadcrumb -->
<div class="breadcrumb-container">
     <div class="container">
          <nav aria-label="breadcrumb" role="navigation">
               <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
                    <li class="breadcrumb-item"><a routerLink="/product">Products</a></li>
                    <li class="breadcrumb-item active" aria-current="page">U.S. Polo Assn. Green Solid Slim Fit</li>
               </ol>
          </nav>
     </div>
</div>

<!-- Main Container -->
<div class="container">
     <div class="row">
          <div class="col-12 d-block d-md-none">
               <div class="title"><span>U.S. Polo Assn. Green Solid Slim Fit</span></div>
          </div>
          <div class="col-xl-4 col-lg-5 col-md-6">
               <img src="./assets/images/product/polo1-1.jpg" class="img-fluid mb-2 border w-100 image-detail" data-zoom-image="./assets/images/product/polo1-large-1.jpg" alt="" style="cursor: pointer;">
               <div class="products-slider-detail owl-carousel owl-theme mb-2">
                    <a href="#"><img src="./assets/images/product/polo1-1.jpg" data-zoom-image="./assets/images/product/polo1-large-1.jpg" alt="" class="img-thumbnail"></a>
                    <a href="#"><img src="./assets/images/product/polo1-2.jpg" data-zoom-image="./assets/images/product/polo1-large-2.jpg" alt="" class="img-thumbnail"></a>
                    <a href="#"><img src="./assets/images/product/polo1-3.jpg" data-zoom-image="./assets/images/product/polo1-large-3.jpg" alt="" class="img-thumbnail"></a>
                    <a href="#"><img src="./assets/images/product/polo1-4.jpg" data-zoom-image="./assets/images/product/polo1-large-4.jpg" alt="" class="img-thumbnail"></a>
                    <a href="#"><img src="./assets/images/product/polo1-5.jpg" data-zoom-image="./assets/images/product/polo1-large-5.jpg" alt="" class="img-thumbnail"></a>
               </div>
               <div class="title d-none d-md-block"><span>Share to</span></div>
               <ul class="list-inline d-none d-md-block">
                    <li class="list-inline-item"><button type="button" class="btn btn-sm btn-primary"><i class="fa fa-fw fa-facebook"></i></button></li>
                    <li class="list-inline-item"><button type="button" class="btn btn-sm btn-info"><i class="fa fa-fw fa-twitter"></i></button></li>
                    <li class="list-inline-item"><button type="button" class="btn btn-sm btn-danger"><i class="fa fa-fw fa-google-plus"></i></button></li>
                    <li class="list-inline-item"><button type="button" class="btn btn-sm btn-primary"><i class="fa fa-fw fa-linkedin"></i></button></li>
                    <li class="list-inline-item"><button type="button" class="btn btn-sm btn-warning"><i class="fa fa-fw fa-envelope"></i></button></li>
               </ul>
          </div>
          <div class="col-xl-8 col-lg-7 col-md-6">
               <table class="table table-detail" add-class-on-xs="table-sm">
                    <tbody>
                         <tr class="d-none d-md-table-row">
                              <td class="border-top-0" colspan="2"><h5>U.S. Polo Assn. Green Solid Slim Fit</h5></td>
                         </tr>
                         <tr>
                              <td>Price</td>
                              <td>
                                   <ul class="list-inline mb-0">
                                        <li class="list-inline-item"><span class="price"><h5 class="mb-0">$13.50</h5></span></li>
                                        <li class="list-inline-item"><del class="text-muted">$15.00</del></li>
                                        <li class="list-inline-item d-none d-sm-inline-block"><span class="badge custom-badge arrowed-left badge-primary">-10%</span></li>
                                   </ul>
                              </td>
                         </tr>
                         <tr>
                              <td>Availability</td>
                              <td>
                                   <span class="badge badge-success custom-badge arrowed-left">In Stock</span>
                              </td>
                         </tr>
                         <tr>
                              <td>Quantity</td>
                              <td>
                                   <div class="input-group input-group-sm input-group-qty">
                                        <div class="input-group-prepend">
                                             <button class="btn btn-outline-theme btn-down" type="button"><i class="fa fa-minus"></i></button>
                                        </div>
                                        <input type="text" class="form-control" aria-label="Quantity" value="1" data-min="1" data-max="10">
                                        <div class="input-group-append">
                                             <button class="btn btn-outline-theme btn-up" type="button"><i class="fa fa-plus"></i></button>
                                        </div>
                                   </div>
                              </td>
                         </tr>
                         <tr>
                              <td></td>
                              <td>
                                   <div class="btn-group" role="group" aria-label="Basic example">
                                        <button type="button" class="btn btn-theme"><i class="fa fa-plus-circle"></i> Add to cart</button>
                                        <button type="button" class="btn btn-outline-theme" data-toggle="tooltip" data-placement="top" title="Compare this"><i class="fa fa-align-left"></i></button>
                                        <button type="button" class="btn btn-outline-theme" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><i class="fa fa-heart"></i></button>
                                   </div>
                              </td>
                         </tr>
                    </tbody>
               </table>
               <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                         <a class="nav-link text-default active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Description</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link text-default" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Detail</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link text-default" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Reviews (2)</a>
                    </li>
               </ul>
               <div class="tab-content">
                    <div class="tab-pane border border-top-0 p-3 show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, molestiae odit? Animi eligendi, optio culpa cupiditate, minus, eaque sint delectus non id accusamus suscipit illum quaerat quibusdam expedita dolore quos distinctio corporis quae. Error molestiae consequatur nostrum placeat architecto maiores commodi ipsam incidunt</p>
                         <p>adipisci tempora ratione soluta aliquam, velit voluptatum dolore reprehenderit quis aut. Obcaecati nam non quis praesentium deserunt qui consequatur illum quae nobis? Optio eos, sit corporis quam distinctio, ad aspernatur quisquam ut, corrupti accusamus saepe labore veritatis sed est rerum. Iste odit reiciendis mollitia culpa illum eligendi, soluta magnam voluptatum ut sequi vitae vel labore quae, ducimus.</p>
                    </div>
                    <div class="tab-pane border border-top-0 p-3" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                         <table class="table table-bordered mb-0">
                              <tbody>
                                   <tr>
                                        <td class="bg-light w-25">Lorem</td>
                                        <td>Ipsum</td>
                                   </tr>
                                   <tr>
                                        <td class="bg-light w-25">Dolor</td>
                                        <td>Sit Amet</td>
                                   </tr>
                                   <tr>
                                        <td class="bg-light w-25">Consectetur</td>
                                        <td>Adipisicing</td>
                                   </tr>
                                   <tr>
                                        <td class="bg-light w-25">Excepteur</td>
                                        <td>Occaecat</td>
                                   </tr>
                                   <tr>
                                        <td class="bg-light w-25">Excepteur</td>
                                        <td>Occaecat</td>
                                   </tr>
                              </tbody>
                         </table>
                    </div>
                    <div class="tab-pane border border-top-0 p-3" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                         <div class="media mb-3">
                              <div class="mr-2">
                                   <img class="img-thumbnail" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2264%22%20height%3D%2264%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2064%2064%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_160c142c97c%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_160c142c97c%22%3E%3Crect%20width%3D%2264%22%20height%3D%2264%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2213.5546875%22%20y%3D%2236.5%22%3E64x64%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Generic placeholder image">
                                   <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                   </div>
                              </div>
                              <div class="media-body">
                                   <div class="font-weight-bold">John Thor</div>
                                   Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                              </div>
                         </div>
                         <div class="media mb-3">
                              <div class="mr-2">
                                   <img class="img-thumbnail" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2264%22%20height%3D%2264%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2064%2064%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_160c142c97c%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_160c142c97c%22%3E%3Crect%20width%3D%2264%22%20height%3D%2264%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2213.5546875%22%20y%3D%2236.5%22%3E64x64%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Generic placeholder image">
                                   <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                   </div>
                              </div>
                              <div class="media-body">
                                   <div class="font-weight-bold">Michael Lelep</div>
                                   Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                              </div>
                         </div>
                         <hr>
                         <h5><a class="text-default" data-toggle="collapse" href="#formReview" role="button" aria-expanded="false" aria-controls="formReview">Add your review</a></h5>
                         <form class="mt-3 collapse" id="formReview">
                              <div class="form-row">
                                   <div class="form-group col-md-6">
                                        <label for="InputName" class="mb-0 font-weight-bold">Name</label>
                                        <input type="text" class="form-control" id="InputName" placeholder="Enter Name" add-class-on-xs="form-control-sm">
                                   </div>
                                   <div class="form-group col-md-6">
                                        <label for="InputEmail" class="mb-0 font-weight-bold">Email Address</label>
                                        <input type="email" class="form-control" id="InputEmail" placeholder="Enter Email" add-class-on-xs="form-control-sm">
                                   </div>
                              </div>
                              <div class="form-group">
                                   <label class="d-block mb-0 font-weight-bold">Rating</label>
                                   <div class="input-rating"></div>
                              </div>
                              <div class="form-group">
                                   <label class="mb-0 font-weight-bold" for="InputReview">Your Review</label>
                                   <textarea class="form-control" id="InputReview" rows="4" add-class-on-xs="form-control-sm" placeholder="Your Review Here"></textarea>
                              </div>
                              <button type="submit" class="btn btn-theme btn-sm">Submit Review</button>
                         </form>
                    </div>
               </div>
          </div>
     </div>
     <div class="row mt-5">
          <div class="col-12"><div class="title"><span>People who bought this also bought</span></div></div>
          <div class="col pl-sm-0 pr-sm-0">
               <div class="owl-carousel owl-theme product-slider">
                    <div class="product-slider-item">
                         <div class="card card-product">
                              <div class="img-wrapper">
                                   <a routerLink="/product-detail"><img class="card-img-top" src="./assets/images/product/vneck1.jpg" alt="Card image cap"></a>
                                   <div class="tools tools-bottom" data-animate-in="fadeInDown" data-animate-out="flipOutX">
                                        <div class="btn-group" role="group" aria-label="card-product-tools">
                                             <button class="btn btn-link btn-sm d-none d-md-inline-block quick-view"><i class="fa fa-search-plus"></i></button>
                                             <button class="btn btn-link btn-sm">Add to Cart</button>
                                             <button class="btn btn-link btn-sm d-none d-md-inline-block"><i class="fa fa-heart"></i></button>
                                        </div>
                                   </div>
                                   <span class="badge badge-primary custom-badge arrowed-right label label-top-left">Extra Sale</span>
                              </div>
                              <div class="card-body">
                                   <p class="card-text"><a routerLink="/product-detail">Gas Mustard Yellow Solid Slim Fit</a></p>
                                   <ul class="card-text list-inline">
                                        <li class="list-inline-item"><span class="price">$13.50</span></li>
                                        <li class="list-inline-item"><del class="text-muted">$15.00</del></li>
                                        <li class="list-inline-item d-none d-sm-inline-block"><span class="badge badge-info custom-badge arrowed-left">-10%</span></li>
                                   </ul>
                                   <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <a href="#" class="d-none d-sm-inline-block">(6 reviews)</a>
                                   </div>
                              </div>
                         </div>
                    </div>
                    <div class="product-slider-item">
                         <div class="card card-product">
                              <div class="img-wrapper">
                                   <a routerLink="/product-detail"><img class="card-img-top" src="./assets/images/product/vneck2.jpg" alt="Card image cap"></a>
                                   <div class="tools tools-bottom" data-animate-in="zoomIn" data-animate-out="fadeOutLeft">
                                        <div class="btn-group" role="group" aria-label="card-product-tools">
                                             <button class="btn btn-link btn-sm d-none d-md-inline-block quick-view"><i class="fa fa-search-plus"></i></button>
                                             <button class="btn btn-link btn-sm">Add to Cart</button>
                                             <button class="btn btn-link btn-sm d-none d-md-inline-block"><i class="fa fa-heart"></i></button>
                                        </div>
                                   </div>
                                   <span class="badge badge-secondary custom-badge arrowed-right label label-top-left">Best Offer</span>
                              </div>
                              <div class="card-body">
                                   <p class="card-text"><a routerLink="/product-detail">Basics Black Striped</a></p>
                                   <ul class="card-text list-inline">
                                        <li class="list-inline-item"><span class="price">$13.50</span></li>
                                        <li class="list-inline-item"><del class="text-muted">$15.00</del></li>
                                        <li class="list-inline-item d-none d-sm-inline-block"><span class="badge badge-warning custom-badge arrowed-left">-10%</span></li>
                                   </ul>
                                   <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <a href="#" class="d-none d-sm-inline-block">(5 reviews)</a>
                                   </div>
                              </div>
                         </div>
                    </div>
                    <div class="product-slider-item">
                         <div class="card card-product">
                              <div class="img-wrapper">
                                   <a routerLink="/product-detail"><img class="card-img-top" src="./assets/images/product/vneck3.jpg" alt="Card image cap"></a>
                                   <div class="tools tools-right" data-animate-in="flipInX" data-animate-out="flipOutY">
                                        <div class="btn-group-vertical" role="group" aria-label="card-product-tools">
                                             <button class="btn btn-link btn-sm d-none d-sm-inline-block quick-view"><i class="fa fa-search-plus"></i></button>
                                             <button class="btn btn-link btn-sm"><i class="fa fa-shopping-cart"></i></button>
                                             <button class="btn btn-link btn-sm"><i class="fa fa-heart"></i></button>
                                        </div>
                                   </div>
                                   <span class="badge badge-success custom-badge arrowed-right label label-top-left">Special Discount</span>
                              </div>
                              <div class="card-body">
                                   <p class="card-text"><a routerLink="/product-detail">Superdry Blue Solid Slim Fit</a></p>
                                   <ul class="card-text list-inline">
                                        <li class="list-inline-item"><span class="price">$13.50</span></li>
                                        <li class="list-inline-item"><del class="text-muted">$15.00</del></li>
                                        <li class="list-inline-item d-none d-sm-inline-block"><span class="badge badge-danger custom-badge arrowed-left">-10%</span></li>
                                   </ul>
                                   <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <a href="#" class="d-none d-sm-inline-block">(4 reviews)</a>
                                   </div>
                              </div>
                         </div>
                    </div>
                    <div class="product-slider-item">
                         <div class="card card-product">
                              <div class="img-wrapper">
                                   <a routerLink="/product-detail"><img class="card-img-top" src="./assets/images/product/vneck5.jpg" alt="Card image cap"></a>
                                   <div class="tools tools-right" data-animate-in="slideInRight" data-animate-out="slideOutUp">
                                        <div class="btn-group-vertical" role="group" aria-label="card-product-tools">
                                             <button class="btn btn-link btn-sm d-none d-sm-inline-block quick-view"><i class="fa fa-search-plus"></i></button>
                                             <button class="btn btn-link btn-sm"><i class="fa fa-shopping-cart"></i></button>
                                             <button class="btn btn-link btn-sm"><i class="fa fa-heart"></i></button>
                                        </div>
                                   </div>
                                   <span class="badge badge-warning custom-badge arrowed-right label label-top-left">Best Price</span>
                              </div>
                              <div class="card-body">
                                   <p class="card-text"><a routerLink="/product-detail">Gritstones Olive Solid</a></p>
                                   <ul class="card-text list-inline">
                                        <li class="list-inline-item"><span class="price">$13.50</span></li>
                                        <li class="list-inline-item"><del class="text-muted">$15.00</del></li>
                                        <li class="list-inline-item d-none d-sm-inline-block"><span class="badge badge-secondary custom-badge arrowed-left">-10%</span></li>
                                   </ul>
                                   <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <a href="#" class="d-none d-sm-inline-block">(2 reviews)</a>
                                   </div>
                              </div>
                         </div>
                    </div>
                    <div class="product-slider-item">
                         <div class="card card-product">
                              <div class="img-wrapper">
                                   <a routerLink="/product-detail"><img class="card-img-top" src="./assets/images/product/vneck4.jpg" alt="Card image cap"></a>
                                   <div class="tools tools-bottom" data-animate-in="rotateInDownLeft" data-animate-out="rotateOutDownLeft">
                                        <div class="btn-group" role="group" aria-label="card-product-tools">
                                             <button class="btn btn-link btn-sm d-none d-md-inline-block quick-view"><i class="fa fa-search-plus"></i></button>
                                             <button class="btn btn-link btn-sm">Add to Cart</button>
                                             <button class="btn btn-link btn-sm d-none d-md-inline-block"><i class="fa fa-heart"></i></button>
                                        </div>
                                   </div>
                                   <span class="badge badge-danger custom-badge arrowed-left label label-top-right">Buy 1 Get 1 Free</span>
                              </div>
                              <div class="card-body">
                                   <p class="card-text"><a routerLink="/product-detail">Celio Brown Textured</a></p>
                                   <ul class="card-text list-inline">
                                        <li class="list-inline-item"><span class="price">$13.50</span></li>
                                        <li class="list-inline-item"><del class="text-muted">$15.00</del></li>
                                        <li class="list-inline-item d-none d-sm-inline-block"><span class="badge badge-success custom-badge arrowed-left">-10%</span></li>
                                   </ul>
                                   <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <a href="#" class="d-none d-sm-inline-block">(3 reviews)</a>
                                   </div>
                              </div>
                         </div>
                    </div>
                    <div class="product-slider-item">
                         <div class="card card-product">
                              <div class="img-wrapper">
                                   <a routerLink="/product-detail"><img class="card-img-top" src="./assets/images/product/vneck6.jpg" alt="Card image cap"></a>
                                   <div class="tools tools-bottom" data-animate-in="lightSpeedIn" data-animate-out="zoomOut">
                                        <div class="btn-group" role="group" aria-label="card-product-tools">
                                             <button class="btn btn-link btn-sm d-none d-md-inline-block quick-view"><i class="fa fa-search-plus"></i></button>
                                             <button class="btn btn-link btn-sm">Add to Cart</button>
                                             <button class="btn btn-link btn-sm d-none d-md-inline-block"><i class="fa fa-heart"></i></button>
                                        </div>
                                   </div>
                                   <span class="badge badge-info custom-badge arrowed-left label label-top-right">Limited Offer</span>
                              </div>
                              <div class="card-body">
                                   <p class="card-text"><a routerLink="/product-detail">Numero Uno White Striped Regular Fit</a></p>
                                   <ul class="card-text list-inline">
                                        <li class="list-inline-item"><span class="price">$13.50</span></li>
                                        <li class="list-inline-item"><del class="text-muted">$15.00</del></li>
                                        <li class="list-inline-item d-none d-sm-inline-block"><span class="badge badge-primary custom-badge arrowed-left">-10%</span></li>
                                   </ul>
                                   <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <a href="#" class="d-none d-sm-inline-block">(1 reviews)</a>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>
