<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light p-0 d-none d-lg-flex navbar-theme">
     <div class="container">
          <div class="pos-r d-flex w-100">
               <ul class="navbar-nav mr-auto">
                    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a class="nav-link" routerLink="home">Home</a></li>
                    <li routerLinkActive="active"><a class="nav-link" routerLink="product">Product List</a></li>
                    <li routerLinkActive="active"><a class="nav-link" routerLink="cart">Shopping Cart</a></li>
               </ul>
          </div>
     </div>
</nav>
