<div id="container">

     <navigasi-bar></navigasi-bar>

     <router-outlet></router-outlet>


     <!-- Quick View Modal -->
     <div class="modal fade" id="QuickViewModal" tabindex="-1" role="dialog" aria-labelledby="QuickViewModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-quickview" role="document">
               <div class="modal-content">
                    <div class="modal-header">
                         <h5 class="modal-title"><a href="detail.html" class="text-default">U.S. Polo Assn. Green Solid Slim Fit</a></h5>
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                         </button>
                    </div>
                    <div class="modal-body">
                         <div class="container-fluid">
                              <div class="row">
                                   <div class="col col-sm-6">
                                        <div class="owl-carousel owl-theme quickview-slider">
                                             <div><img src="./assets/images/product/polo1.jpg" alt="image"></div>
                                             <div><img src="./assets/images/product/polo2.jpg" alt="image"></div>
                                             <div><img src="./assets/images/product/polo3.jpg" alt="image"></div>
                                        </div>
                                   </div>
                                   <div class="col col-sm-6">
                                        <table class="table">
                                             <tbody>
                                                  <tr>
                                                       <td class="border-top-0">Price</td>
                                                       <td class="border-top-0">
                                                            <ul class="list-inline mb-0">
                                                                 <li class="list-inline-item"><span class="price">$13.50</span></li>
                                                                 <li class="list-inline-item"><del class="text-muted">$15.00</del></li>
                                                                 <li class="list-inline-item d-none d-sm-inline-block"><span class="badge custom-badge arrowed-left badge-primary">-10%</span></li>
                                                            </ul>
                                                       </td>
                                                  </tr>
                                                  <tr>
                                                       <td>Quantity</td>
                                                       <td>
                                                            <div class="input-group input-group-sm input-group-qty">
                                                                 <div class="input-group-prepend">
                                                                      <button class="btn btn-theme btn-down" type="button"><i class="fa fa-minus"></i></button>
                                                                 </div>
                                                                 <input type="text" class="form-control" aria-label="Quantity" value="1" data-min="1" data-max="10">
                                                                 <div class="input-group-append">
                                                                      <button class="btn btn-theme btn-up" type="button"><i class="fa fa-plus"></i></button>
                                                                 </div>
                                                            </div>
                                                       </td>
                                                  </tr>
                                                  <tr>
                                                       <td colspan="2">
                                                            <button class="btn btn-sm btn-theme btn-block btn-add-quickview">Add to Cart</button>
                                                            <button class="btn btn-sm btn-outline-theme"><i class="fa fa-heart"></i></button>
                                                       </td>
                                                  </tr>
                                             </tbody>
                                        </table>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>

     <a href="#top" class="back-top text-center" onclick="$('body,html').animate({scrollTop:0},500); return false">
          <i class="fa fa-angle-double-up"></i>
     </a>

</div>
