<!-- Breadcrumb -->
<div class="breadcrumb-container">
     <div class="container">
          <nav aria-label="breadcrumb" role="navigation">
               <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Products</li>
               </ol>
          </nav>
     </div>
</div>

<!-- Main Container -->
<div class="container">
     <div class="row">

          <!-- Filter Sidebar -->
          <div class="col-lg-3 col-md-4 mb-3">
               <button class="btn btn-outline-theme btn-block dropdown-toggle d-md-none" type="button" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
                    Filter Data
               </button>
               <div class="collapse d-md-block pt-3 pt-md-0" id="collapseFilter">
                    <div class="row">
                         <div class="col-12 col-sm-6 col-md-12">
                              <div class="filter-sidebar">
                                   <div class="title"><span>Price Range</span></div>
                                   <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                             <span class="input-group-text">Min : $</span>
                                        </div>
                                        <input type="text" class="form-control" name="min-price" id="min-price" value="" >
                                        <div class="input-group-append input-group-prepend">
                                             <span class="input-group-text">Max : $</span>
                                        </div>
                                        <input type="text" class="form-control" name="max-price" id="max-price" value="" >
                                   </div>
                                   <div class="price-range">
                                        <div id="price"></div>
                                   </div>
                              </div>
                         </div>
                         <div class="col-12 col-sm-6 col-md-12">
                              <div class="filter-sidebar">
                                   <div class="title"><span>Rating</span></div>
                                   <div class="rating-range">
                                        <div id="rating-range"></div>
                                   </div>
                                   <input type="hidden" class="form-control" name="min-range" id="min-range" value="1" >
                                   <input type="hidden" class="form-control" name="max-range" id="max-range" value="5" >
                              </div>
                         </div>
                    </div>
               </div>
          </div>

          <div class="col-lg-9 col-md-8">
               <div class="title"><span>T-Shirts</span></div>

               <!-- Sorting Bar -->
               <div class="sorting-bar">
                    <div class="mr-5" remove-class-on-xs="mr-5" add-class-on-xs="w-100">
                         <span>Sort By</span>
                         <select name="sortby" class="select-dropdown" data-width="180px" data-size="sm">
                              <option value="recomended">Popular</option>
                              <option value="best-selling">Best Selling</option>
                              <option value="low">Low Price &rarr; High Price</option>
                              <option value="hight">High Price &rarr; High Price</option>
                         </select>
                    </div>
                    <div>
                         <span>Show</span>
                         <select name="show" class="select-dropdown" data-width="60px" data-size="sm">
                              <option value="8">8</option>
                              <option value="12">12</option>
                              <option value="16">16</option>
                         </select> Items per page
                    </div>
               </div>

               <!-- Product Listing -->
               <div class="row equal-height" add-class-on-xs="no-gutters">
                    <div class="col-xl-3 col-lg-4 col-6">
                         <div class="card card-product">
                              <div class="img-wrapper">
                                   <a routerLink="/product-detail"><img class="card-img-top" src="./assets/images/product/polo1.jpg" alt="Card image cap"></a>
                                   <div class="tools tools-bottom" data-animate-in="fadeInUp" data-animate-out="fadeOutDown">
                                        <div class="btn-group" role="group" aria-label="card-product-tools">
                                             <button class="btn btn-link btn-sm d-none d-md-inline-block quick-view"><i class="fa fa-search-plus"></i></button>
                                             <button class="btn btn-link btn-sm">Add to Cart</button>
                                             <button class="btn btn-link btn-sm d-none d-md-inline-block"><i class="fa fa-heart"></i></button>
                                        </div>
                                   </div>
                                   <span class="badge badge-danger custom-badge arrowed-right label label-top-left">Hot Item</span>
                              </div>
                              <div class="card-body">
                                   <p class="card-text"><a routerLink="/product-detail">U.S. Polo Assn. Green Solid Slim Fit</a></p>
                                   <ul class="card-text list-inline">
                                        <li class="list-inline-item"><span class="price">$13.50</span></li>
                                        <li class="list-inline-item"><del class="text-muted">$15.00</del></li>
                                        <li class="list-inline-item d-none d-sm-inline-block"><span class="badge badge-primary custom-badge arrowed-left">-10%</span></li>
                                   </ul>
                                   <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <a href="#" class="d-none d-sm-inline-block">(5 reviews)</a>
                                   </div>
                              </div>
                         </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-6">
                         <div class="card card-product">
                              <div class="img-wrapper">
                                   <a routerLink="/product-detail"><img class="card-img-top" src="./assets/images/product/polo2.jpg" alt="Card image cap"></a>
                                   <div class="tools tools-bottom" data-animate-in="fadeInUp" data-animate-out="fadeOutDown">
                                        <div class="btn-group" role="group" aria-label="card-product-tools">
                                             <button class="btn btn-link btn-sm d-none d-md-inline-block quick-view"><i class="fa fa-search-plus"></i></button>
                                             <button class="btn btn-link btn-sm">Add to Cart</button>
                                             <button class="btn btn-link btn-sm d-none d-md-inline-block"><i class="fa fa-heart"></i></button>
                                        </div>
                                   </div>
                                   <span class="badge badge-info custom-badge arrowed-left label label-top-right">New Arrival</span>
                              </div>
                              <div class="card-body">
                                   <p class="card-text"><a routerLink="/product-detail">U.S. Polo Assn. Red Solid Slim Fit</a></p>
                                   <ul class="card-text list-inline">
                                        <li class="list-inline-item"><del class="text-muted">$15.00</del></li>
                                        <li class="list-inline-item"><span class="price">$13.50</span></li>
                                        <li class="list-inline-item d-none d-sm-inline-block"><span class="badge badge-success custom-badge arrowed-left">-10%</span></li>
                                   </ul>
                                   <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <a href="#" class="d-none d-sm-inline-block">(4 reviews)</a>
                                   </div>
                              </div>
                         </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-6">
                         <div class="card card-product">
                              <div class="img-wrapper">
                                   <a routerLink="/product-detail"><img class="card-img-top" src="./assets/images/product/polo3.jpg" alt="Card image cap"></a>
                                   <div class="tools tools-left" data-animate-in="fadeInDown" data-animate-out="fadeOutLeft">
                                        <div class="btn-group-vertical" role="group" aria-label="card-product-tools">
                                             <button class="btn btn-link btn-sm d-none d-sm-inline-block quick-view"><i class="fa fa-search-plus"></i></button>
                                             <button class="btn btn-link btn-sm"><i class="fa fa-shopping-cart"></i></button>
                                             <button class="btn btn-link btn-sm"><i class="fa fa-heart"></i></button>
                                        </div>
                                   </div>
                                   <span class="badge badge-warning custom-badge arrowed-right label label-bottom-left">New Arrival</span>
                              </div>
                              <div class="card-body">
                                   <p class="card-text"><a routerLink="/product-detail">U.S. Polo Assn. Yellow Solid</a></p>
                                   <ul class="card-text list-inline">
                                        <li class="list-inline-item"><del class="text-muted">$15.00</del></li>
                                        <li class="list-inline-item d-none d-sm-inline-block"><span class="badge badge-theme custom-badge arrowed-right">-10%</span></li>
                                        <li class="list-inline-item"><span class="price">$13.50</span></li>
                                   </ul>
                                   <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <a href="#" class="d-none d-sm-inline-block">(3 reviews)</a>
                                   </div>
                              </div>
                         </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-6 d-block d-lg-none d-xl-block">
                         <div class="card card-product">
                              <div class="img-wrapper">
                                   <a routerLink="/product-detail"><img class="card-img-top" src="./assets/images/product/polo4.jpg" alt="Card image cap"></a>
                                   <div class="tools tools-left" data-animate-in="fadeInLeft" data-animate-out="fadeOutUp">
                                        <div class="btn-group-vertical" role="group" aria-label="card-product-tools">
                                             <button class="btn btn-link btn-sm d-none d-sm-inline-block quick-view"><i class="fa fa-search-plus"></i></button>
                                             <button class="btn btn-link btn-sm"><i class="fa fa-shopping-cart"></i></button>
                                             <button class="btn btn-link btn-sm"><i class="fa fa-heart"></i></button>
                                        </div>
                                   </div>
                                   <span class="badge badge-danger custom-badge arrowed-left label label-bottom-right">-10%</span>
                              </div>
                              <div class="card-body">
                                   <p class="card-text"><a routerLink="/product-detail">Red Tape Blue Solid Slim Fit</a></p>
                                   <ul class="card-text list-inline">
                                        <li class="list-inline-item"><del class="text-muted">$15.00</del></li>
                                        <li class="list-inline-item"><span class="price">$13.50</span></li>
                                   </ul>
                                   <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <a href="#" class="d-none d-sm-inline-block">(2 reviews)</a>
                                   </div>
                              </div>
                         </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-6">
                         <div class="card card-product">
                              <div class="img-wrapper">
                                   <a routerLink="/product-detail"><img class="card-img-top" src="./assets/images/product/polo1.jpg" alt="Card image cap"></a>
                                   <div class="tools tools-bottom" data-animate-in="fadeInUp" data-animate-out="fadeOutDown">
                                        <div class="btn-group" role="group" aria-label="card-product-tools">
                                             <button class="btn btn-link btn-sm d-none d-md-inline-block quick-view"><i class="fa fa-search-plus"></i></button>
                                             <button class="btn btn-link btn-sm">Add to Cart</button>
                                             <button class="btn btn-link btn-sm d-none d-md-inline-block"><i class="fa fa-heart"></i></button>
                                        </div>
                                   </div>
                                   <span class="badge badge-danger custom-badge arrowed-right label label-top-left">Hot Item</span>
                              </div>
                              <div class="card-body">
                                   <p class="card-text"><a routerLink="/product-detail">U.S. Polo Assn. Green Solid Slim Fit</a></p>
                                   <ul class="card-text list-inline">
                                        <li class="list-inline-item"><span class="price">$13.50</span></li>
                                        <li class="list-inline-item"><del class="text-muted">$15.00</del></li>
                                        <li class="list-inline-item d-none d-sm-inline-block"><span class="badge badge-primary custom-badge arrowed-left">-10%</span></li>
                                   </ul>
                                   <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <a href="#" class="d-none d-sm-inline-block">(5 reviews)</a>
                                   </div>
                              </div>
                         </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-6">
                         <div class="card card-product">
                              <div class="img-wrapper">
                                   <a routerLink="/product-detail"><img class="card-img-top" src="./assets/images/product/polo2.jpg" alt="Card image cap"></a>
                                   <div class="tools tools-bottom" data-animate-in="fadeInUp" data-animate-out="fadeOutDown">
                                        <div class="btn-group" role="group" aria-label="card-product-tools">
                                             <button class="btn btn-link btn-sm d-none d-md-inline-block quick-view"><i class="fa fa-search-plus"></i></button>
                                             <button class="btn btn-link btn-sm">Add to Cart</button>
                                             <button class="btn btn-link btn-sm d-none d-md-inline-block"><i class="fa fa-heart"></i></button>
                                        </div>
                                   </div>
                                   <span class="badge badge-info custom-badge arrowed-left label label-top-right">New Arrival</span>
                              </div>
                              <div class="card-body">
                                   <p class="card-text"><a routerLink="/product-detail">U.S. Polo Assn. Red Solid Slim Fit</a></p>
                                   <ul class="card-text list-inline">
                                        <li class="list-inline-item"><del class="text-muted">$15.00</del></li>
                                        <li class="list-inline-item"><span class="price">$13.50</span></li>
                                        <li class="list-inline-item d-none d-sm-inline-block"><span class="badge badge-success custom-badge arrowed-left">-10%</span></li>
                                   </ul>
                                   <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <a href="#" class="d-none d-sm-inline-block">(4 reviews)</a>
                                   </div>
                              </div>
                         </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-6">
                         <div class="card card-product">
                              <div class="img-wrapper">
                                   <a routerLink="/product-detail"><img class="card-img-top" src="./assets/images/product/polo3.jpg" alt="Card image cap"></a>
                                   <div class="tools tools-left" data-animate-in="fadeInDown" data-animate-out="fadeOutLeft">
                                        <div class="btn-group-vertical" role="group" aria-label="card-product-tools">
                                             <button class="btn btn-link btn-sm d-none d-sm-inline-block quick-view"><i class="fa fa-search-plus"></i></button>
                                             <button class="btn btn-link btn-sm"><i class="fa fa-shopping-cart"></i></button>
                                             <button class="btn btn-link btn-sm"><i class="fa fa-heart"></i></button>
                                        </div>
                                   </div>
                                   <span class="badge badge-warning custom-badge arrowed-right label label-bottom-left">New Arrival</span>
                              </div>
                              <div class="card-body">
                                   <p class="card-text"><a routerLink="/product-detail">U.S. Polo Assn. Yellow Solid</a></p>
                                   <ul class="card-text list-inline">
                                        <li class="list-inline-item"><del class="text-muted">$15.00</del></li>
                                        <li class="list-inline-item d-none d-sm-inline-block"><span class="badge badge-theme custom-badge arrowed-right">-10%</span></li>
                                        <li class="list-inline-item"><span class="price">$13.50</span></li>
                                   </ul>
                                   <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <a href="#" class="d-none d-sm-inline-block">(3 reviews)</a>
                                   </div>
                              </div>
                         </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-6 d-block d-lg-none d-xl-block">
                         <div class="card card-product">
                              <div class="img-wrapper">
                                   <a routerLink="/product-detail"><img class="card-img-top" src="./assets/images/product/polo4.jpg" alt="Card image cap"></a>
                                   <div class="tools tools-left" data-animate-in="fadeInLeft" data-animate-out="fadeOutUp">
                                        <div class="btn-group-vertical" role="group" aria-label="card-product-tools">
                                             <button class="btn btn-link btn-sm d-none d-sm-inline-block quick-view"><i class="fa fa-search-plus"></i></button>
                                             <button class="btn btn-link btn-sm"><i class="fa fa-shopping-cart"></i></button>
                                             <button class="btn btn-link btn-sm"><i class="fa fa-heart"></i></button>
                                        </div>
                                   </div>
                                   <span class="badge badge-danger custom-badge arrowed-left label label-bottom-right">-10%</span>
                              </div>
                              <div class="card-body">
                                   <p class="card-text"><a routerLink="/product-detail">Red Tape Blue Solid Slim Fit</a></p>
                                   <ul class="card-text list-inline">
                                        <li class="list-inline-item"><del class="text-muted">$15.00</del></li>
                                        <li class="list-inline-item"><span class="price">$13.50</span></li>
                                   </ul>
                                   <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <a href="#" class="d-none d-sm-inline-block">(2 reviews)</a>
                                   </div>
                              </div>
                         </div>
                    </div>
                    <!-- Pagination -->
                    <div class="col-12">
                         <nav aria-label="Product Listing Page" class="d-flex justify-content-center mt-3">
                              <ul class="pagination">
                                   <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">&laquo;</a></li>
                                   <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">&lsaquo;</a></li>
                                   <li class="page-item active"><span class="page-link" href="#">1</span></li>
                                   <li class="page-item"><a class="page-link" href="#">2</a></li>
                                   <li class="page-item"><a class="page-link" href="#">3</a></li>
                                   <li class="page-item"><a class="page-link" href="#">&rsaquo;</a></li>
                                   <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                              </ul>
                         </nav>
                    </div>
               </div>
          </div>
     </div>
</div>
