<!-- Full Width Slider -->
<div class="container-fluid mb-3">
     <div class="row">
          <div class="owl-carousel owl-theme home-slider">
               <div class="owl-cover" data-src="./assets/images/slider/image1.jpg" data-xs-height="220px" data-sm-height="350px" data-md-height="400px" data-lg-height="430px" data-xl-height="450px">
                    <div class="container-fluid h-100">
                         <div class="row h-100 align-items-center">
                              <div class="col-8 col-lg-6 text-center">
                                   <div class="animated d-none d-sm-block" data-animate="slideInRight">
                                        <h1 class="bg-theme text-white d-inline-block px-2">TOP BRANDS</h1>
                                   </div>
                                   <div class="animated" data-animate="bounceInUp">
                                        <h2 class="text-white font-weight-bold display-4 d-inline-block" remove-class-on-xs="display-4 font-weight-bold">MINIMUM<br/>30% - 70% OFF</h2>
                                   </div>
                                   <a routerLink="product" class="btn btn-theme animated delay-1" data-animate="fadeInDown" add-class-on-xs="btn-sm">Shop Now</a>
                              </div>
                         </div>
                    </div>
               </div>
               <div class="owl-cover" data-src="./assets/images/slider/image2.jpg" data-xs-height="220px" data-sm-height="350px" data-md-height="400px" data-lg-height="430px" data-xl-height="450px">
                    <div class="container-fluid h-100">
                         <div class="row h-100 align-items-center justify-content-end">
                              <div class="col col-sm-6 text-center">
                                   <div class="animated" data-animate="lightSpeedIn">
                                        <h1 class="bg-dark display-4 text-white d-inline-block px-2" remove-class-on-xs="display-4">T-LOVE</h1>
                                   </div>
                                   <div class="animated" data-animate="rotateIn">
                                        <h3 class="d-none d-sm-inline-block" add-class-on-xl="font-weight-bold">
                                             A COMPLETE SHOPPING GUIDE ON WHAT AND HOW TO WEAR THE BEST T-SHIRTS
                                        </h3>
                                        <h5 class="d-inline-block d-sm-none" add-class-on-xs="text-white">
                                             A COMPLETE SHOPPING GUIDE
                                        </h5>
                                   </div>
                                   <a routerLink="product" class="btn btn-theme animated delay-1" data-animate="fadeInUp" add-class-on-xs="btn-sm">Shop Now</a>
                              </div>
                         </div>
                    </div>
               </div>
               <div class="owl-cover" data-src="./assets/images/slider/image3.jpg" data-xs-height="220px" data-sm-height="350px" data-md-height="400px" data-lg-height="430px" data-xl-height="450px">
                    <div class="container-fluid h-100">
                         <div class="row h-100 align-items-center justify-content-center">
                              <div class="col text-center">
                                   <div class="animated d-none d-lg-block" data-animate="zoomIn">
                                        <h1 class="bg-warning d-inline-block px-2">YOUR PRAYERS ANSWERED!</h1>
                                   </div>
                                   <div class="animated" data-animate="bounceInDown">
                                        <h2 class="display-4 bg-light d-inline-block px-2" remove-class-on-xs="display-4">UPTO 70% OFF</h2>
                                   </div>
                                   <div class="animated d-none d-sm-block" data-animate="slideInLeft">
                                        <h1 class="bg-dark text-white d-inline-block px-2">+ EXTRA 10% OFF</h1>
                                   </div>
                                   <a routerLink="product" class="btn btn-theme animated delay-1" data-animate="flipInX" add-class-on-xs="btn-sm">Shop Now</a>
                              </div>
                         </div>
                    </div>
               </div>
               <div class="owl-cover" data-src="./assets/images/slider/image4.jpg" data-xs-height="220px" data-sm-height="350px" data-md-height="400px" data-lg-height="430px" data-xl-height="450px">
                    <div class="container-fluid h-100">
                         <div class="row h-100 align-items-center justify-content-between" remove-class-on-xs="justify-content-between">
                              <div class="d-none d-sm-block col-sm-5 text-center">
                                   <div class="animated text-danger" data-animate="slideInRight">
                                        <i class="fa fa-truck fa-5x"></i>
                                   </div>
                                   <div class="animated delay-1" data-animate="bounceInUp">
                                        <h3 class="d-none d-sm-inline-block bg-white p-2" add-class-on-xl="font-weight-bold">FREE SHIPPING</h3>
                                   </div>
                                   <div class="animated delay-2" data-animate="rotateInDownRight">
                                        <h2 class="d-none d-sm-inline-block px-2 bg-dark text-white">ON ALL ORDERS !</h2>
                                   </div>
                              </div>
                              <div class="d-none d-sm-block col-sm-5 text-center">
                                   <div class="animated delay-3 text-info" data-animate="fadeInLeft">
                                        <i class="fa fa-phone fa-5x"></i>
                                   </div>
                                   <div class="animated delay-4" data-animate="bounceInDown">
                                        <h2 class="d-none d-sm-inline-block px-2 bg-white">24 HOURS</h2>
                                   </div>
                                   <div class="animated delay-5" data-animate="lightSpeedIn">
                                        <h2 class="d-none d-sm-inline-block px-2 bg-dark text-white">ONLINE SUPPORT</h2>
                                   </div>
                              </div>
                              <div class="col d-sm-none text-center">
                                   <div class="animated" data-animate="fadeInDown">
                                        <h6 class="bg-white d-inline-block px-2">FREE SHIPPING</h6>
                                   </div>
                                   <div class="animated delay-1" data-animate="fadeInDown">
                                        <h4 class="bg-dark text-white d-inline-block px-2">ON ALL ORDERS</h4>
                                   </div>
                                   <a routerLink="product" class="btn btn-theme animated delay-2" data-animate="fadeInUp" add-class-on-xs="btn-sm">Shop Now</a>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>

<!-- Top Categories Thumbnail -->


<!-- Main Container -->
<div class="container">
     <!-- Featured Products -->
     <div class="row equal-height" add-class-on-xs="no-gutters">
          <div class="col-12"><div class="title"><span>Featured Products</span></div></div>
          <div class="col-xl col-lg-3 col-md-4 col-sm-6 col-6">
               <div class="card card-product">
                    <div class="img-wrapper">
                         <a routerLink="/product-detail"><img class="card-img-top" src="./assets/images/product/polo1.jpg" alt="Card image cap"></a>
                         <div class="tools tools-bottom" data-animate-in="fadeInUp" data-animate-out="fadeOutDown">
                              <div class="btn-group" role="group" aria-label="card-product-tools">
                                   <button class="btn btn-link btn-sm d-none d-md-inline-block quick-view"><i class="fa fa-search-plus"></i></button>
                                   <button class="btn btn-link btn-sm">Add to Cart</button>
                                   <button class="btn btn-link btn-sm d-none d-md-inline-block"><i class="fa fa-heart"></i></button>
                              </div>
                         </div>
                         <span class="badge badge-danger custom-badge arrowed-right label label-top-left">Hot Item</span>
                    </div>
                    <div class="card-body">
                         <p class="card-text"><a routerLink="/product-detail">U.S. Polo Assn. Green Solid Slim Fit</a></p>
                         <ul class="card-text list-inline">
                              <li class="list-inline-item"><span class="price">$13.50</span></li>
                              <li class="list-inline-item"><del class="text-muted">$15.00</del></li>
                              <li class="list-inline-item d-none d-sm-inline-block"><span class="badge badge-primary custom-badge arrowed-left">-10%</span></li>
                         </ul>
                         <div class="rating">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star-half-o"></i>
                              <a href="#" class="d-none d-sm-inline-block">(5 reviews)</a>
                         </div>
                    </div>
               </div>
          </div>
          <div class="col-xl col-lg-3 col-md-4 col-sm-6 col-6">
               <div class="card card-product">
                    <div class="img-wrapper">
                         <a routerLink="/product-detail"><img class="card-img-top" src="./assets/images/product/polo2.jpg" alt="Card image cap"></a>
                         <div class="tools tools-bottom" data-animate-in="fadeInUp" data-animate-out="fadeOutDown">
                              <div class="btn-group" role="group" aria-label="card-product-tools">
                                   <button class="btn btn-link btn-sm d-none d-md-inline-block quick-view"><i class="fa fa-search-plus"></i></button>
                                   <button class="btn btn-link btn-sm">Add to Cart</button>
                                   <button class="btn btn-link btn-sm d-none d-md-inline-block"><i class="fa fa-heart"></i></button>
                              </div>
                         </div>
                         <span class="badge badge-info custom-badge arrowed-left label label-top-right">New Arrival</span>
                    </div>
                    <div class="card-body">
                         <p class="card-text"><a routerLink="/product-detail">U.S. Polo Assn. Red Solid Slim Fit</a></p>
                         <ul class="card-text list-inline">
                              <li class="list-inline-item"><del class="text-muted">$15.00</del></li>
                              <li class="list-inline-item"><span class="price">$13.50</span></li>
                              <li class="list-inline-item d-none d-sm-inline-block"><span class="badge badge-success custom-badge arrowed-left">-10%</span></li>
                         </ul>
                         <div class="rating">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star-half-o"></i>
                              <i class="fa fa-star-o"></i>
                              <a href="#" class="d-none d-sm-inline-block">(4 reviews)</a>
                         </div>
                    </div>
               </div>
          </div>
          <div class="col-xl col-lg-3 col-md-4 col-sm-6 col-6">
               <div class="card card-product">
                    <div class="img-wrapper">
                         <a routerLink="/product-detail"><img class="card-img-top" src="./assets/images/product/polo3.jpg" alt="Card image cap"></a>
                         <div class="tools tools-left" data-animate-in="fadeInDown" data-animate-out="fadeOutLeft">
                              <div class="btn-group-vertical" role="group" aria-label="card-product-tools">
                                   <button class="btn btn-link btn-sm d-none d-sm-inline-block quick-view"><i class="fa fa-search-plus"></i></button>
                                   <button class="btn btn-link btn-sm"><i class="fa fa-shopping-cart"></i></button>
                                   <button class="btn btn-link btn-sm"><i class="fa fa-heart"></i></button>
                              </div>
                         </div>
                         <span class="badge badge-warning custom-badge arrowed-right label label-bottom-left">New Arrival</span>
                    </div>
                    <div class="card-body">
                         <p class="card-text"><a routerLink="/product-detail">U.S. Polo Assn. Yellow Solid</a></p>
                         <ul class="card-text list-inline">
                              <li class="list-inline-item"><del class="text-muted">$15.00</del></li>
                              <li class="list-inline-item d-none d-sm-inline-block"><span class="badge badge-theme custom-badge arrowed-right">-10%</span></li>
                              <li class="list-inline-item"><span class="price">$13.50</span></li>
                         </ul>
                         <div class="rating">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star-half-o"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                              <a href="#" class="d-none d-sm-inline-block">(3 reviews)</a>
                         </div>
                    </div>
               </div>
          </div>
          <div class="col-xl col-lg-3 col-md-4 col-sm-6 col-6 d-block d-md-none d-lg-block">
               <div class="card card-product">
                    <div class="img-wrapper">
                         <a routerLink="/product-detail"><img class="card-img-top" src="./assets/images/product/polo4.jpg" alt="Card image cap"></a>
                         <div class="tools tools-left" data-animate-in="fadeInLeft" data-animate-out="fadeOutUp">
                              <div class="btn-group-vertical" role="group" aria-label="card-product-tools">
                                   <button class="btn btn-link btn-sm d-none d-sm-inline-block quick-view"><i class="fa fa-search-plus"></i></button>
                                   <button class="btn btn-link btn-sm"><i class="fa fa-shopping-cart"></i></button>
                                   <button class="btn btn-link btn-sm"><i class="fa fa-heart"></i></button>
                              </div>
                         </div>
                         <span class="badge badge-danger custom-badge arrowed-left label label-bottom-right">-10%</span>
                    </div>
                    <div class="card-body">
                         <p class="card-text"><a routerLink="/product-detail">Red Tape Blue Solid Slim Fit</a></p>
                         <ul class="card-text list-inline">
                              <li class="list-inline-item"><del class="text-muted">$15.00</del></li>
                              <li class="list-inline-item"><span class="price">$13.50</span></li>
                         </ul>
                         <div class="rating">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star-half-o"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                              <a href="#" class="d-none d-sm-inline-block">(2 reviews)</a>
                         </div>
                    </div>
               </div>
          </div>
          <div class="col-xl d-none d-xl-block">
               <div class="card card-product">
                    <div class="img-wrapper">
                         <a routerLink="/product-detail"><img class="card-img-top" src="./assets/images/product/polo5.jpg" alt="Card image cap"></a>
                         <div class="tools tools-top" data-animate-in="zoomIn" data-animate-out="fadeOutUp">
                              <div class="btn-group" role="group" aria-label="card-product-tools">
                                   <button class="btn btn-link btn-sm d-none d-md-inline-block quick-view"><i class="fa fa-search-plus"></i></button>
                                   <button class="btn btn-link btn-sm">Add to Cart</button>
                                   <button class="btn btn-link btn-sm d-none d-md-inline-block"><i class="fa fa-heart"></i></button>
                              </div>
                         </div>
                         <span class="badge badge-success custom-badge arrowed-right label label-bottom-left">Discount</span>
                    </div>
                    <div class="card-body">
                         <p class="card-text"><a routerLink="/product-detail">U.S. Polo Assn. Black Solid Regular Fit</a></p>
                         <ul class="card-text list-inline">
                              <li class="list-inline-item"><span class="price">$13.50</span></li>
                              <li class="list-inline-item d-none d-sm-inline-block"><span class="badge badge-secondary">-10%</span></li>
                              <li class="list-inline-item"><del class="text-muted">$15.00</del></li>
                         </ul>
                         <div class="rating">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star-half-o"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                              <a href="#" class="d-none d-sm-inline-block">(1 review)</a>
                         </div>
                    </div>
               </div>
          </div>
     </div>

     <!-- Top Brands -->


     <!-- Popular Products -->
     <div class="row">
          <div class="col-12"><div class="title"><span>Popular Products</span></div></div>
          <div class="col pl-sm-0 pr-sm-0">
               <div class="owl-carousel owl-theme product-slider">
                    <div class="product-slider-item">
                         <div class="card card-product">
                              <div class="img-wrapper">
                                   <a routerLink="/product-detail"><img class="card-img-top" src="./assets/images/product/vneck1.jpg" alt="Card image cap"></a>
                                   <div class="tools tools-bottom" data-animate-in="fadeInDown" data-animate-out="flipOutX">
                                        <div class="btn-group" role="group" aria-label="card-product-tools">
                                             <button class="btn btn-link btn-sm d-none d-md-inline-block quick-view"><i class="fa fa-search-plus"></i></button>
                                             <button class="btn btn-link btn-sm">Add to Cart</button>
                                             <button class="btn btn-link btn-sm d-none d-md-inline-block"><i class="fa fa-heart"></i></button>
                                        </div>
                                   </div>
                                   <span class="badge badge-primary custom-badge arrowed-right label label-top-left">Extra Sale</span>
                              </div>
                              <div class="card-body">
                                   <p class="card-text"><a routerLink="/product-detail">Gas Mustard Yellow Solid Slim Fit</a></p>
                                   <ul class="card-text list-inline">
                                        <li class="list-inline-item"><span class="price">$13.50</span></li>
                                        <li class="list-inline-item"><del class="text-muted">$15.00</del></li>
                                        <li class="list-inline-item d-none d-sm-inline-block"><span class="badge badge-info custom-badge arrowed-left">-10%</span></li>
                                   </ul>
                                   <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <a href="#" class="d-none d-sm-inline-block">(6 reviews)</a>
                                   </div>
                              </div>
                         </div>
                    </div>
                    <div class="product-slider-item">
                         <div class="card card-product">
                              <div class="img-wrapper">
                                   <a routerLink="/product-detail"><img class="card-img-top" src="./assets/images/product/vneck2.jpg" alt="Card image cap"></a>
                                   <div class="tools tools-bottom" data-animate-in="zoomIn" data-animate-out="fadeOutLeft">
                                        <div class="btn-group" role="group" aria-label="card-product-tools">
                                             <button class="btn btn-link btn-sm d-none d-md-inline-block quick-view"><i class="fa fa-search-plus"></i></button>
                                             <button class="btn btn-link btn-sm">Add to Cart</button>
                                             <button class="btn btn-link btn-sm d-none d-md-inline-block"><i class="fa fa-heart"></i></button>
                                        </div>
                                   </div>
                                   <span class="badge badge-secondary custom-badge arrowed-right label label-top-left">Best Offer</span>
                              </div>
                              <div class="card-body">
                                   <p class="card-text"><a routerLink="/product-detail">Basics Black Striped</a></p>
                                   <ul class="card-text list-inline">
                                        <li class="list-inline-item"><span class="price">$13.50</span></li>
                                        <li class="list-inline-item"><del class="text-muted">$15.00</del></li>
                                        <li class="list-inline-item d-none d-sm-inline-block"><span class="badge badge-warning custom-badge arrowed-left">-10%</span></li>
                                   </ul>
                                   <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <a href="#" class="d-none d-sm-inline-block">(5 reviews)</a>
                                   </div>
                              </div>
                         </div>
                    </div>
                    <div class="product-slider-item">
                         <div class="card card-product">
                              <div class="img-wrapper">
                                   <a routerLink="/product-detail"><img class="card-img-top" src="./assets/images/product/vneck3.jpg" alt="Card image cap"></a>
                                   <div class="tools tools-right" data-animate-in="flipInX" data-animate-out="flipOutY">
                                        <div class="btn-group-vertical" role="group" aria-label="card-product-tools">
                                             <button class="btn btn-link btn-sm d-none d-sm-inline-block quick-view"><i class="fa fa-search-plus"></i></button>
                                             <button class="btn btn-link btn-sm"><i class="fa fa-shopping-cart"></i></button>
                                             <button class="btn btn-link btn-sm"><i class="fa fa-heart"></i></button>
                                        </div>
                                   </div>
                                   <span class="badge badge-success custom-badge arrowed-right label label-top-left">Special Discount</span>
                              </div>
                              <div class="card-body">
                                   <p class="card-text"><a routerLink="/product-detail">Superdry Blue Solid Slim Fit</a></p>
                                   <ul class="card-text list-inline">
                                        <li class="list-inline-item"><span class="price">$13.50</span></li>
                                        <li class="list-inline-item"><del class="text-muted">$15.00</del></li>
                                        <li class="list-inline-item d-none d-sm-inline-block"><span class="badge badge-danger custom-badge arrowed-left">-10%</span></li>
                                   </ul>
                                   <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <a href="#" class="d-none d-sm-inline-block">(4 reviews)</a>
                                   </div>
                              </div>
                         </div>
                    </div>
                    <div class="product-slider-item">
                         <div class="card card-product">
                              <div class="img-wrapper">
                                   <a routerLink="/product-detail"><img class="card-img-top" src="./assets/images/product/vneck5.jpg" alt="Card image cap"></a>
                                   <div class="tools tools-right" data-animate-in="slideInRight" data-animate-out="slideOutUp">
                                        <div class="btn-group-vertical" role="group" aria-label="card-product-tools">
                                             <button class="btn btn-link btn-sm d-none d-sm-inline-block quick-view"><i class="fa fa-search-plus"></i></button>
                                             <button class="btn btn-link btn-sm"><i class="fa fa-shopping-cart"></i></button>
                                             <button class="btn btn-link btn-sm"><i class="fa fa-heart"></i></button>
                                        </div>
                                   </div>
                                   <span class="badge badge-warning custom-badge arrowed-right label label-top-left">Best Price</span>
                              </div>
                              <div class="card-body">
                                   <p class="card-text"><a routerLink="/product-detail">Gritstones Olive Solid</a></p>
                                   <ul class="card-text list-inline">
                                        <li class="list-inline-item"><span class="price">$13.50</span></li>
                                        <li class="list-inline-item"><del class="text-muted">$15.00</del></li>
                                        <li class="list-inline-item d-none d-sm-inline-block"><span class="badge badge-secondary custom-badge arrowed-left">-10%</span></li>
                                   </ul>
                                   <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <a href="#" class="d-none d-sm-inline-block">(2 reviews)</a>
                                   </div>
                              </div>
                         </div>
                    </div>
                    <div class="product-slider-item">
                         <div class="card card-product">
                              <div class="img-wrapper">
                                   <a routerLink="/product-detail"><img class="card-img-top" src="./assets/images/product/vneck4.jpg" alt="Card image cap"></a>
                                   <div class="tools tools-bottom" data-animate-in="rotateInDownLeft" data-animate-out="rotateOutDownLeft">
                                        <div class="btn-group" role="group" aria-label="card-product-tools">
                                             <button class="btn btn-link btn-sm d-none d-md-inline-block quick-view"><i class="fa fa-search-plus"></i></button>
                                             <button class="btn btn-link btn-sm">Add to Cart</button>
                                             <button class="btn btn-link btn-sm d-none d-md-inline-block"><i class="fa fa-heart"></i></button>
                                        </div>
                                   </div>
                                   <span class="badge badge-danger custom-badge arrowed-left label label-top-right">Buy 1 Get 1 Free</span>
                              </div>
                              <div class="card-body">
                                   <p class="card-text"><a routerLink="/product-detail">Celio Brown Textured</a></p>
                                   <ul class="card-text list-inline">
                                        <li class="list-inline-item"><span class="price">$13.50</span></li>
                                        <li class="list-inline-item"><del class="text-muted">$15.00</del></li>
                                        <li class="list-inline-item d-none d-sm-inline-block"><span class="badge badge-success custom-badge arrowed-left">-10%</span></li>
                                   </ul>
                                   <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <a href="#" class="d-none d-sm-inline-block">(3 reviews)</a>
                                   </div>
                              </div>
                         </div>
                    </div>
                    <div class="product-slider-item">
                         <div class="card card-product">
                              <div class="img-wrapper">
                                   <a routerLink="/product-detail"><img class="card-img-top" src="./assets/images/product/vneck6.jpg" alt="Card image cap"></a>
                                   <div class="tools tools-bottom" data-animate-in="lightSpeedIn" data-animate-out="zoomOut">
                                        <div class="btn-group" role="group" aria-label="card-product-tools">
                                             <button class="btn btn-link btn-sm d-none d-md-inline-block quick-view"><i class="fa fa-search-plus"></i></button>
                                             <button class="btn btn-link btn-sm">Add to Cart</button>
                                             <button class="btn btn-link btn-sm d-none d-md-inline-block"><i class="fa fa-heart"></i></button>
                                        </div>
                                   </div>
                                   <span class="badge badge-info custom-badge arrowed-left label label-top-right">Limited Offer</span>
                              </div>
                              <div class="card-body">
                                   <p class="card-text"><a routerLink="/product-detail">Numero Uno White Striped Regular Fit</a></p>
                                   <ul class="card-text list-inline">
                                        <li class="list-inline-item"><span class="price">$13.50</span></li>
                                        <li class="list-inline-item"><del class="text-muted">$15.00</del></li>
                                        <li class="list-inline-item d-none d-sm-inline-block"><span class="badge badge-primary custom-badge arrowed-left">-10%</span></li>
                                   </ul>
                                   <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <a href="#" class="d-none d-sm-inline-block">(1 reviews)</a>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>

     <!-- Our Clients -->
</div>
